In [1]:
import pandas as pd

In [2]:
df_224 = pd.read_csv("swin_224_in1k.csv")
df_334 = pd.read_csv("swin_384_in1k.csv")

df = pd.concat([df_224, df_334])
df["model_name"] = df["model_name"].apply(lambda x: x.strip("/"))
df.head()

                      model_name  top1_acc(%)  top5_acc(%)
0   swin_base_patch4_window7_224       85.134       97.480
1  swin_large_patch4_window7_224       86.252       97.878
2               swin_s3_base_224       83.958       96.532
3              swin_s3_small_224       83.648       96.358
4               swin_s3_tiny_224       82.034       95.864

In [3]:
df

                       model_name  top1_acc(%)  top5_acc(%)
0    swin_base_patch4_window7_224       85.134       97.480
1   swin_large_patch4_window7_224       86.252       97.878
2                swin_s3_base_224       83.958       96.532
3               swin_s3_small_224       83.648       96.358
4                swin_s3_tiny_224       82.034       95.864
5   swin_small_patch4_window7_224       83.178       96.240
6    swin_tiny_patch4_window7_224       81.184       95.512
0   swin_base_patch4_window12_384       86.428       98.042
1  swin_large_patch4_window12_384       87.272       98.242

In [4]:
# All models except for s3s: https://github.com/microsoft/Swin-Transformer/blob/main/get_started.md
# s3s: https://github.com/microsoft/Cream/tree/main/AutoFormerV2#model-zoo

orig_1 = ["85.2", "86.3", "84.0", "83.7", "82.1", "83.2", "81.2", "86.4", "87.3"]
df["orig_top1_acc(%)"] = orig_1
df = df.reset_index(drop=True)
df

                       model_name  top1_acc(%)  top5_acc(%) orig_top1_acc(%)
0    swin_base_patch4_window7_224       85.134       97.480             85.2
1   swin_large_patch4_window7_224       86.252       97.878             86.3
2                swin_s3_base_224       83.958       96.532             84.0
3               swin_s3_small_224       83.648       96.358             83.7
4                swin_s3_tiny_224       82.034       95.864             82.1
5   swin_small_patch4_window7_224       83.178       96.240             83.2
6    swin_tiny_patch4_window7_224       81.184       95.512             81.2
7   swin_base_patch4_window12_384       86.428       98.042             86.4
8  swin_large_patch4_window12_384       87.272       98.242             87.3

In [5]:
print(df.to_markdown())

|    | model_name                     |   top1_acc(%) |   top5_acc(%) |   orig_top1_acc(%) |
|---:|:-------------------------------|--------------:|--------------:|-------------------:|
|  0 | swin_base_patch4_window7_224   |        85.134 |        97.48  |               85.2 |
|  1 | swin_large_patch4_window7_224  |        86.252 |        97.878 |               86.3 |
|  2 | swin_s3_base_224               |        83.958 |        96.532 |               84   |
|  3 | swin_s3_small_224              |        83.648 |        96.358 |               83.7 |
|  4 | swin_s3_tiny_224               |        82.034 |        95.864 |               82.1 |
|  5 | swin_small_patch4_window7_224  |        83.178 |        96.24  |               83.2 |
|  6 | swin_tiny_patch4_window7_224   |        81.184 |        95.512 |               81.2 |
|  7 | swin_base_patch4_window12_384  |        86.428 |        98.042 |               86.4 |
|  8 | swin_large_patch4_window12_384 |        87.272 |        98.242 |               87.3 |